{% extends 'blog/base.html' %}

{% block sidebar %}
    {% include 'blog/sidebar.html' %}
{% endblock %}


<!--Confirmation page for deleting a post. Displays the post title and content with options 
to confirm or cancel the deletion.-->

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-body">
                    <h3>Confirm Deletion</h3>
                    <p>Are you sure you want to delete the post titled "{{ post.title }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}